<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <property name="LOG_DIR">logs</property>
        <property name="ARCHIVE_LOG_DIR">${logs}/archive</property>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5} - %msg%n</property>
        <property name="pattern_console">%relative [%t] %-5level %logger{5} - %msg%n</property>
    </Properties>
    <ThresholdFilter level="trace"/>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
        <File name="File1" fileName="logs/text.log" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
    </Appenders>
    <Loggers>
        <!--        <Logger name="com.foo.Bar" level="trace">-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--        </Logger>-->
        <Root level="debug">
            <AppenderRef ref="Console" level="trace"/>
        </Root>
    </Loggers>
</Configuration>